.site-container {
  width: 800px;
  margin: 0 auto;
  @media screen and (max-width: 1200px) {
    width: auto;
    margin: 0 10px;
  }
}

/* 定义滚动条的样式 */
::-webkit-scrollbar {
  width: 6px;
}

/* 定义滚动条轨道的样式 */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* 定义滚动条滑块的样式 */
::-webkit-scrollbar-thumb {
  background: #c1c1c1;
}

/* 定义滚动条滑块在 hover 状态下的样式 */
::-webkit-scrollbar-thumb:hover {
  background: #7f7f7f;
}